// bower:scss
// endbower
@font-face {
  src: url('../fonts/Lato-Medium.woff');
  font-family: "Lato";
  font-weight: 400;
}

@font-face {
  src: url('../fonts/Lato-Thin.woff');
  font-family: "Lato";
  font-weight: 300;
}

@font-face {
  src: url('../fonts/Lato-Semibold.woff');
  font-family: "Lato";
  font-weight: 500;
}

@font-face {
  src: url('../fonts/Lato-Bold.woff');
  font-family: "Lato";
  font-weight: 700;
}

@font-face {
  src: url('../fonts/Lato-Heavy.woff');
  font-family: "Lato";
  font-weight: 800;
}

body {
  overflow-x: hidden;
  background-color: #ffffff;
  color: #000000;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.a-info {
  display: block;
  position: relative;
  width: 100%;
  padding: 16px 0;
  background: #edf3fb;
  color: #2a2a2a;
  font-size: 16px;
  font-weight: 400;

  i {
    display: inline-block;
    margin-right: 5px;
    color: #143b72;
  }

  a {
    color: #2a2a2a;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      color: #143b72;
      text-decoration: none;
    }
  }

  p {
    margin: 0;
  }

  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 770px;
  }
}

.a-nav {
  display: block;
  position: relative;
  width: 100%;
  padding: 40px 0 36px 0;
  background: #143b72;

  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
  }

  &__ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 770px;
    margin: 0;
    padding: 0;
    list-style: none;

    i {
      color: #fecc10;
      font-size: 16px;
    }

    &>li {
      display: inline-block;

      &>a {
        display: inline-block;
        border-bottom: 2px solid transparent;
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover,
        &:active,
        &:focus {
          border-color: #ffffff;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }

  &__drop {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 255px;
    margin: 0;
    padding: 0;
    padding: 30px 10px 10px 30px;
    list-style: none;
    border: 1px solid #d8dde4;
    background-color: #ffffff;
    z-index: 4;
    transition: all 0.2s ease-out;

    li {
      display: block;

      a {
        display: inline-block;
        margin-bottom: 18px;
        border-bottom: 2px solid transparent;
        color: #143b72;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover,
        &:active,
        &:focus {
          border-color: #143b72;
          color: #143b72;
          text-decoration: none;
        }
      }
    }
  }

  &__dropper {
    position: relative;

    i {
      display: inline-block;
      margin-left: 5px;
    }

    &:hover {
      &>a {
        border-color: #ffffff;
      }

      .a-nav__drop {
        display: block;
      }
    }
  }

}

.a-top {
  display: block;
  position: relative;
  width: 100%;
  padding: 10px 0;
  box-shadow: 0 0 28px 1px rgba(0, 0, 0, 0.22);
  background: #ffffff;
  z-index: 1;

  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 770px;
  }

  &__phone {
    display: inline-block;
    color: #143b72;
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      color: #fecc10;
      text-decoration: none;
    }
  }

  &__links {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 110px;

    a {
      color: #143b72;
      font-size: 22px;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        color: #fecc10;
        text-decoration: none;
      }
    }
  }

  &__order {
    display: inline-block;
    padding: 12px 10px;
    background-color: #fecc10;
    color: #2a2a2a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      background: #ffda50;
      color: #2a2a2a;
      text-decoration: none;
    }
  }

  &__call {
    display: inline-block;
    padding: 12px 32px;
    background-color: #143b72;
    color: #fecc10;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      background: #1e539e;
      color: #fecc10;
      text-decoration: none;
    }
  }
}

.a-logo {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  /* box-shadow: 0 0 28px 1px rgba(0, 0, 0, 0.22); */
  filter: drop-shadow(0px 0px 28px rgba(0, 0, 0, 0.22));
  z-index: 2;

  &__wrapper {
    display: block;
    position: relative;
    width: calc((100vw - 1200px) / 2 + 405px);
    padding: 25px 25px 35px calc((100vw - 1200px) / 2);
    background: #ffffff;
    -webkit-clip-path: polygon(0 0, 100% 0%, 90% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0%, 90% 100%, 0 100%);
  }

  &__this {
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      color: #143b72;
      text-decoration: none;
    }
  }

  &__image {
    display: block;
    max-width: 100%;
    margin-bottom: 5px;
  }

  &__text {
    display: block;
    margin: 0;
    color: #959494;
    font-size: 14px;
    font-weight: 400;
  }

  &__nav {
    display: none;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      color: #959494;
      text-decoration: none;
    }
  }
}

.a-big {
  display: block;
  position: relative;
  width: 100%;

  .slick-dots li button:before {
    display: none;
  }

  .slick-dots li {
    position: relative;
    width: 13px;
    height: 13px;
    margin: 0 7px;
    padding: 0;
    border: 1px solid transparent;
    background: transparent;
    opacity: 1;

    &:after {
      display: block;
      position: absolute;
      content: '';
      width: 19px;
      height: 19px;
      left: -4px;
      top: -4px;
      border: 1px solid #fecc10;
      background: transparent;
    }
  }

  .slick-active {
    background: #fecc10 !important;
    opacity: 1 !important;
  }

  .slick-dots {
    bottom: 15px;
  }

  .slick-next,
  .slick-prev {
    width: 15px;
    height: 25px;
    opacity: 1;
    z-index: 1;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 0.7;
    }
  }

  .slick-next {
    right: calc((100vw - 1200px) / 2 - 65px);
    background: url("../images/icon_slick_next.svg");

    &:before {
      display: none;
    }
  }

  .slick-prev {
    left: calc((100vw - 1200px) / 2 - 65px);
    background: url("../images/icon_slick_prev.svg");

    &:before {
      display: none;
    }
  }

  &__card {
    display: block;
    position: relative;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 580px;
    padding: 20px;
    overflow-y: auto;
    background-image: linear-gradient(to right, #143b72 0%, rgba(20, 59, 114, 0) 100%);
  }

  &__title {
    display: block;
    margin: 0 0 15px 0;
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__text {
    display: block;
    margin: 0 0 25px 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }

  &__button {
    display: inline-block;
    padding: 13px 50px;
    background-color: #fecc10;
    color: #2a2a2a;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      background: #ffda50;
      color: #2a2a2a;
      text-decoration: none;
    }
  }
}

.slick-dotted.slick-slider {
  margin: 0;
}

.a-order {
  display: block;
  position: relative;
  width: 100%;
  padding: 55px 0 65px 0;
  background: url('../images/order_bg.svg') center;

  &__title {
    display: block;
    margin: 0 0 24px 0;
    color: #153c73;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;

    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #6681a6;
      opacity: 1;
      /* Firefox */
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #6681a6;
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #6681a6;
    }

    input {
      display: block;
      width: 100%;
      padding: 16px 20px 16px 45px;
      border: 1px solid #8ea3c0;
      background-color: #ffffff;
      color: #6681a6;
      font-size: 18px;
      font-weight: 400;
    }
  }

  &__input {
    display: block;
    position: relative;
    width: 100%;
    max-width: 370px;

    i {
      display: block;
      position: absolute;
      left: 20px;
      top: 16px;
      font-size: 18px;
      color: #fecc10;
    }
  }

  &__button {
    display: block;
    width: 100%;
    max-width: 370px;
    padding: 17px;
    border: 0;
    outline: 0;
    background-color: #fecc10;
    color: #2a2a2a;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      background: #ffda50;
      color: #2a2a2a;
      text-decoration: none;
    }
  }
}

.a-services {
  display: block;
  position: relative;
  width: 100%;
  padding: 50px 0;
  background: #ffffff url('../images/services_bg.png') no-repeat center;

  &__title {
    display: block;
    margin: 0 0 90px 0;
    color: #9b9b9b;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  &__subtitle {
    display: block;
    position: relative;
    margin: 0 0 14px 0;
    color: #2a2a2a;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      left: 50%;
      width: 84px;
      height: 2px;
      margin-top: -20px;
      margin-left: -42px;
      background-color: #143b72;
    }
  }

  &__text {
    display: block;
    width: 100%;
    max-width: 735px;
    margin: 0 auto 25px auto;
    color: #9b9b9b;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
    text-align: center;
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    position: relative;
    width: 100%;
    margin-bottom: -110px;
    z-index: 2;
  }

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 390px;
    min-height: 250px;
    margin: -1px 0 0 -1px;
    padding: 35px 30px 10px 30px;
    border: 1px solid #d8dde4;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      border-color: #143b72;
      background: #143b72;
      text-decoration: none;

      .a-services__card-image {
        filter: brightness(0) invert(1);
      }

      .a-services__card-line {
        background: #ffffff;
      }

      .a-services__card-title {
        color: #ffffff;
      }
    }

    &-image {
      display: block;
      width: 70px;
      height: 70px;
      margin-bottom: 30px;
      object-fit: scale-down;
      object-position: center bottom;
      transition: all 0.2s ease-out;
    }

    &-line {
      display: block;
      width: 117px;
      height: 2px;
      margin-bottom: 26px;
      background-color: #fecc10;
      transition: all 0.2s ease-out;
    }

    &-title {
      display: block;
      margin: 0;
      color: #2a2a2a;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      transition: all 0.2s ease-out;
    }
  }
}

.a-page-services {
  display: block;
  position: relative;
  width: 100%;
  padding: 70px 0 150px 0;
  background: #ffffff url('../images/services_bg.png') no-repeat center top;

  &__subtitle {
    display: block;
    position: relative;
    margin: 0 0 14px 0;
    color: #2a2a2a;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      left: 50%;
      width: 84px;
      height: 2px;
      margin-top: -20px;
      margin-left: -42px;
      background-color: #143b72;
    }
  }

  &__text {
    display: block;
    width: 100%;
    max-width: 735px;
    margin: 0 auto 25px auto;
    color: #9b9b9b;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
    text-align: center;
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    position: relative;
    width: 100%;
  }

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 390px;
    min-height: 250px;
    margin: -1px 0 0 -1px;
    padding: 35px 30px 10px 30px;
    border: 1px solid #d8dde4;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      border-color: #143b72;
      background: #143b72;
      text-decoration: none;

      .a-page-services__card-image {
        filter: brightness(0) invert(1);
      }

      .a-page-services__card-line {
        background: #ffffff;
      }

      .a-page-services__card-title {
        color: #ffffff;
      }
    }

    &-image {
      display: block;
      width: 70px;
      height: 70px;
      margin-bottom: 30px;
      object-fit: scale-down;
      object-position: center bottom;
      transition: all 0.2s ease-out;
    }

    &-line {
      display: block;
      width: 117px;
      height: 2px;
      margin-bottom: 26px;
      background-color: #fecc10;
      transition: all 0.2s ease-out;
    }

    &-title {
      display: block;
      margin: 0;
      color: #2a2a2a;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      transition: all 0.2s ease-out;
    }
  }
}

.a-seo {
  display: block;
  position: relative;
  width: 100%;
  background: #143b72 url('../images/seo_bg.png') no-repeat left center;
  background-size: contain;

  &__title {
    display: block;
    position: relative;
    margin: 0 0 25px 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 84px;
      height: 2px;
      margin-top: -20px;
      background-color: #fecc10;
    }
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 665px;
    padding: 140px 0 60px 0;
    color: #ffffff;

    p {
      display: block;
      margin: 0 0 30px 0;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }

    b,
    strong {
      font-size: 16px;
      font-weight: 700;
    }

    ul {
      display: block;
      margin: 0;
      padding: 0;
      padding: 5px 0 25px 0;
      list-style: none;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;

      li {
        display: block;
        position: relative;
        width: 100%;
        margin-bottom: 5px;
        padding-left: 33px;

        &:before {
          display: block;
          position: absolute;
          content: '—';
          left: 12px;
          font-size: 16px;
          font-weight: 700;
          color: #fecc10;
        }
      }
    }

    a {
      color: #fecc10;
      font-size: 16px;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        color: #fecc10;
        text-decoration: none;
      }
    }
  }

  &__image {
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    width: calc(50vw - 115px);
    height: 800px;
    margin-top: -400px;
    object-fit: cover;
    object-position: center;
    -webkit-clip-path: polygon(15% 0, 100% 0, 100% 100%, 15% 100%, 0% 50%);
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 15% 100%, 0% 50%);
    z-index: 1;
  }
}

.a-features {
  display: block;
  position: relative;
  width: 100%;
  padding: 125px 0 50px 0;
  background: #ffffff url('../images/services_bg.png') no-repeat center;

  &__title {
    display: block;
    position: relative;
    margin: 0 0 45px 0;
    color: #2a2a2a;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 84px;
      height: 2px;
      margin-top: -20px;
      background-color: #143b72;
    }
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 255px;
    margin-bottom: 30px;

    &-image {
      display: block;
      width: 135px;
      height: 100px;
      margin-bottom: 15px;
      object-fit: scale-down;
      object-position: left top;
    }

    &-text {
      display: block;
      margin: 0;
      color: #143b72;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.5;
    }
  }
}

.a-numbers {
  display: block;
  position: relative;
  width: 100%;
  padding: 55px 0 30px 0;
  background: #fecc10 url('../images/numbers_bg.jpg') no-repeat center;
  background-size: cover;

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 255px;
    margin-bottom: 30px;
    text-align: center;

    &-main {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 235px;
      height: 175px;
      background: url('../images/numbers_1.png') no-repeat center;
      background-size: contain;
    }

    &-number {
      display: block;
      margin: 0;
      text-shadow: 0 6px 10px rgba(0, 0, 0, 0.35);
      color: #ffffff;
      line-height: 0.8;
      font-weight: 700;
      font-size: 100px;
    }

    &-what {
      display: block;
      margin: 0 0 10px 0;
      text-shadow: 0 6px 10px rgba(0, 0, 0, 0.35);
      color: #ffffff;
      font-size: 25px;
      font-weight: 700;
    }

    &-text {
      display: block;
      margin: 20px 0 0 0;
      color: #2a2a2a;
      font-size: 18px;
      font-weight: 700;
    }
  }
}

.a-home-combo {
  display: block;
  position: relative;
  width: 100%;
  padding: 0;
  background: url('../images/home_combo_bg.svg'), linear-gradient(to top, #f2f7ff 0%, #ffffff 100%);
}

.a-reviews {
  display: block;
  position: relative;
  width: 100%;
  padding: 115px 0 60px 0;

  &__title {
    display: block;
    position: relative;
    margin: 0 0 45px 0;
    color: #2a2a2a;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      left: 50%;
      width: 84px;
      height: 2px;
      margin-top: -20px;
      margin-left: -42px;
      background-color: #143b72;
    }
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;

    .slick-next,
    .slick-prev {
      width: 50px;
      height: 50px;
      box-shadow: 0 21px 88px 2px rgba(20, 59, 114, 0.28);
      opacity: 1;
      z-index: 1;
      transition: all 0.2s ease-out;

      &:hover {
        opacity: 0.7;
      }
    }

    .slick-next {
      right: -80px;
      background: url("../images/icon_slick_2_next.png") no-repeat center;
      background-size: contain;

      &:before {
        display: none;
      }
    }

    .slick-prev {
      left: -80px;
      background: url("../images/icon_slick_2_prev.png") no-repeat center;
      background-size: contain;

      &:before {
        display: none;
      }
    }
  }

  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 370px;
    min-height: 545px;
    margin: 0 auto;
    padding: 26px 30px;
    /* box-shadow: 0 21px 88px 2px rgba(0, 0, 0, 0.08); */
    border: 1px solid #d8dde4;
    background: #ffffff;

    &-text {
      display: block;
      position: relative;
      width: 100%;
      max-height: 310px;
      margin: 0 0 20px 0;
      padding: 0;
      overflow: hidden;
      color: #9b9b9b;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }

    &-line {
      display: block;
      width: 100%;
      height: 25px;
      margin-bottom: 10px;
      object-fit: contain;
    }

    &-author {
      display: block;
      margin: 0 0 6px 0;
      color: #2a2a2a;
      font-size: 18px;
      font-weight: 700;
    }

    &-who {
      display: block;
      margin: 0 0 20px 0;
      color: #9b9b9b;
      font-size: 14px;
      font-weight: 700;
    }

    &-info {
      display: block;
      margin: 1px 0 0 0;
      font-size: 16px;
      line-height: 1.5;
      color: #9b9b9b;
      font-weight: 400;

      b,
      strong {
        color: #143b72;
        font-weight: 700;
      }
    }
  }

  &__button {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 30px auto 0 auto;
    padding: 14px;
    border: 0;
    outline: 0;
    background-color: #fecc10;
    color: #2a2a2a;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      background: #ffda50;
      color: #2a2a2a;
      text-decoration: none;
    }
  }
}

.a-calc {
  display: block;
  position: relative;
  width: 100%;
  background: url('../images/calc_bg_1.png') no-repeat center bottom 50px, url('../images/calc_bg_2.png') no-repeat center bottom;
  background-size: auto, 100% 105px;

  &__title {
    display: block;
    margin: 60px 0 22px 0;
    color: #2a2a2a;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: right;
  }

  &__text {
    display: block;
    margin: 0;
    color: #9b9b9b;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
    text-align: right;
  }

  &__content {
    display: block;
    text-align: right;
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 100%;
    min-height: 510px;
    /* margin-left: 40px; */
    margin-bottom: -20px;
    padding: 20px 40px 20px 130px;
    background: url('../images/calc_form_bg.svg') no-repeat left center;
    background-size: auto 100%;
    z-index: 1;

    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #6681a6;
      opacity: 1;
      /* Firefox */
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #6681a6;
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #6681a6;
    }

    &:after {
      display: block;
      position: absolute;
      content: '';
      width: calc((100vw - 1200px) / 2 + 15px);
      height: 100%;
      left: 100%;
      top: 0;
      background: #143b72;
    }

    input {
      display: block;
      width: 100%;
      margin-bottom: 20px;
      padding: 8px 0 8px 24px;
      border: 0;
      border-bottom: 1px solid #ffffff;
      outline: 0;
      background: transparent;
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
      transition: all 0.2s ease-out;

      &:focus {
        border-color: #fecc10;
      }
    }
  }

  &__input {
    display: block;
    position: relative;
    width: 100%;

    i {
      display: block;
      position: absolute;
      top: 9px;
      left: 0;
      font-size: 18px;
      color: #fecc10;
    }
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;

    .a-calc__input {
      max-width: 190px;
    }
  }

  &__info {
    display: block;
    width: 100%;
    margin: 0 0 28px 0;
    color: #6681a6;
    font-size: 12px;
    font-weight: 400;
  }

  &__button {
    display: block;
    width: 100%;
    margin: 0;
    padding: 14px;
    border: 1px solid #fecc10;
    background: transparent;
    color: #fecc10;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      background: #ffda50;
      color: #2a2a2a;
      text-decoration: none;
    }
  }
}

.a-home-double {
  display: block;
  position: relative;
  width: 100%;
  background: url('../images/services_bg.png') no-repeat top -80px center;
}

.a-reseo {
  display: block;
  position: relative;
  width: 100%;
  padding: 110px 0 30px 0;
  background: transparent;

  &__title {
    display: block;
    position: relative;
    margin: 0 0 25px 0;
    color: #2a2a2a;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 84px;
      height: 2px;
      margin-top: -20px;
      background-color: #143b72;
    }
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 590px;
    padding: 20px 0 20px 20px;
    color: #2a2a2a;

    p {
      display: block;
      margin: 0 0 30px 0;
      color: #2a2a2a;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }

    b,
    strong {
      font-size: 16px;
      font-weight: 700;
    }

    ul {
      display: block;
      margin: 0;
      padding: 0;
      padding: 5px 0 25px 0;
      list-style: none;
      color: #2a2a2a;
      font-size: 16px;
      font-weight: 400;

      li {
        display: block;
        position: relative;
        width: 100%;
        margin-bottom: 5px;
        padding-left: 33px;

        &:before {
          display: block;
          position: absolute;
          content: '—';
          left: 12px;
          font-size: 16px;
          font-weight: 700;
          color: #fecc10;
        }
      }
    }

    a {
      color: #fecc10;
      font-size: 16px;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        color: #fecc10;
        text-decoration: none;
      }
    }
  }

  &__image {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: calc(50vw - 115px);
    height: 590px;
    margin-top: -295px;
    object-fit: cover;
    object-position: center;
    -webkit-clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
    clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
    z-index: 1;
  }
}

.a-projects {
  display: block;
  position: relative;
  width: 100%;
  padding: 100px 0 130px 0;

  &__title {
    display: block;
    position: relative;
    margin: 0 0 45px 0;
    color: #2a2a2a;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      left: 50%;
      width: 84px;
      height: 2px;
      margin-top: -20px;
      margin-left: -42px;
      background-color: #143b72;
    }
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;

    .slick-dots li button:before {
      display: none;
    }

    .slick-dots li {
      position: relative;
      width: 13px;
      height: 13px;
      margin: 0 7px;
      padding: 0;
      border: 1px solid transparent;
      background: transparent;
      opacity: 1;

      &:after {
        display: block;
        position: absolute;
        content: '';
        width: 19px;
        height: 19px;
        left: -4px;
        top: -4px;
        border: 1px solid #143b72;
        background: transparent;
      }
    }

    li.slick-active {
      background: #fecc10 !important;
      opacity: 1 !important;
    }

    .slick-dots {
      bottom: -40px;
    }

    .slick-next,
    .slick-prev {
      width: 50px;
      height: 50px;
      box-shadow: 0 21px 88px 2px rgba(20, 59, 114, 0.28);
      opacity: 1;
      z-index: 1;
      transition: all 0.2s ease-out;

      &:hover {
        opacity: 0.7;
      }
    }

    .slick-next {
      right: -80px;
      background: url("../images/icon_slick_2_next.png") no-repeat center;
      background-size: contain;

      &:before {
        display: none;
      }
    }

    .slick-prev {
      left: -80px;
      background: url("../images/icon_slick_2_prev.png") no-repeat center;
      background-size: contain;

      &:before {
        display: none;
      }
    }
  }

  &__row {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 270px;
    height: 400px;
  }

  &__big {
    display: block;
    position: relative;
    width: 100%;
    max-width: 270px;
    height: 400px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(20, 59, 114, 0.6);
        transition: all 0.2s ease-out;
      }

      text-decoration: none;
    }
  }

  &__card {
    position: relative;
  }

  &__small {
    display: block;
    position: relative;
    width: 100%;
    max-width: 270px;
    height: 190px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(20, 59, 114, 0.6);
        transition: all 0.2s ease-out;
      }

      text-decoration: none;
    }
  }
}

.a-bottom {
  display: block;
  position: relative;
  width: 100%;
  background: linear-gradient(to bottom, #f5f7f9 0%, #e4e9ef 100%);
}

.a-news {
  display: block;
  position: relative;
  width: 100%;
  padding: 70px 0;

  &__title {
    display: block;
    position: relative;
    margin: 0 0 60px 0;
    color: #2a2a2a;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      left: 50%;
      width: 84px;
      height: 2px;
      margin-top: -20px;
      margin-left: -42px;
      background-color: #143b72;
    }
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;

    .slick-next,
    .slick-prev {
      width: 50px;
      height: 50px;
      box-shadow: 0 21px 88px 2px rgba(20, 59, 114, 0.28);
      opacity: 1;
      z-index: 1;
      transition: all 0.2s ease-out;

      &:hover {
        opacity: 0.7;
      }
    }

    .slick-next {
      right: -80px;
      background: url("../images/icon_slick_2_next.png") no-repeat center;
      background-size: contain;

      &:before {
        display: none;
      }
    }

    .slick-prev {
      left: -80px;
      background: url("../images/icon_slick_2_prev.png") no-repeat center;
      background-size: contain;

      &:before {
        display: none;
      }
    }
  }

  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 370px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #d8dde4;
    background: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      border-color: #143b72;
      text-decoration: none;
    }

    &-image {
      display: block;
      width: 100%;
      height: 180px;
      object-fit: cover;
    }

    &-content {
      display: block;
      width: 100%;
      padding: 20px;
    }

    &-title {
      display: block;
      height: 69px;
      margin: 0 0 10px 0;
      overflow: hidden;
      color: #2a2a2a;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.33;
    }

    &-text {
      display: block;
      height: 120px;
      margin: 0 0 18px 0;
      overflow: hidden;
      color: #9b9b9b;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }

    &-more {
      display: inline-block;
      color: #143b72;
      font-size: 16px;
      font-weight: 700;
      text-decoration: underline;
    }
  }

  &__button {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 30px auto 0 auto;
    padding: 14px;
    border: 0;
    outline: 0;
    background-color: #fecc10;
    color: #2a2a2a;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      background: #ffda50;
      color: #2a2a2a;
      text-decoration: none;
    }
  }
}

.a-map {
  display: block;
  position: relative;
  width: 100%;
  padding: 30px 0 40px 0;

  &__title {
    display: block;
    position: relative;
    margin: 0 0 60px 0;
    color: #2a2a2a;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      left: 50%;
      width: 84px;
      height: 2px;
      margin-top: -20px;
      margin-left: -42px;
      background-color: #143b72;
    }
  }

  &__this {
    display: block;
    position: relative;
    width: 100%;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
}

.a-footer {
  display: block;
  position: relative;
  width: 100%;
  padding: 45px 0;
  background: #143b72;

  &__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    border-top: 1px solid #fecc10;
    list-style: none;

    li {
      display: inline-block;

      a {
        display: inline-block;
        padding: 18px 0;
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;

        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover,
        &:active,
        &:focus {
          color: #fecc10;
          text-decoration: none;
        }
      }
    }
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 30px;
  }

  &__creators {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    color: #fffefe;
    font-size: 16px;
    font-weight: 500;

    p {
      margin: 0;
    }

    img {
      margin: 0 5px;
    }

    a {
      color: #fffefe;
      font-size: 16px;
      font-weight: 500;

      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        color: #fecc10;
        text-decoration: none;
      }
    }
  }

  &__social {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;

    p {
      margin: 0;
    }
  }

  &__links {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    a {
      display: inline-block;
      margin-left: 15px;
      color: #ffffff;
      font-size: 22px;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        color: #608ac4;
        text-decoration: none;
      }
    }
  }
}

.a-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;

  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.8);
  }

  &__close {
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 10px 0;
    padding: 110px 115px;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.1);
    background: #edf3fb;
  }

  &__title {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 50px 0;
    color: #153c73;
    line-height: 1.4;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    ::placeholder {
      color: #6681a6;
    }
  }

  &__input {
    display: block;
    position: relative;
    width: 100%;

    input {
      display: block;
      width: 100%;
      margin-bottom: 20px;
      padding: 15px 44px;
      border: 0;
      outline: 0;
      border: 1px solid #8ea3c0;
      background-color: #ffffff;
      color: #6681a6;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.33;
      transition: all 0.2s ease-out;

      &:focus {
        border-color: #fecc10;
      }
    }

    i {
      display: inline-block;
      position: absolute;
      top: 18px;
      left: 18px;
      font-size: 18px;
      color: #fecc10;
    }
  }

  &__button {
    display: block;
    width: 100%;
    margin: 20px auto 0 auto;
    padding: 18px;
    border: 0;
    outline: 0;
    background-color: #fecc10;
    color: #2a2a2a;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      background: #ffda50;
      color: #2a2a2a;
      text-decoration: none;
    }
  }
}

.a-breadcrumps {
  display: block;
  position: relative;
  width: 100%;
  padding: 55px 0 25px 0;
  background: #edf3fb;

  &__this {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
      color: #2a2a2a;
      font-size: 16px;
      font-weight: 400;
    }

    i {
      display: inline-block;
      margin: 0 10px;
      color: #143b72;
    }

    a {
      color: #2a2a2a;
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        color: #fecc10;
        text-decoration: none;
      }
    }
  }
}

.a-about {
  display: block;
  position: relative;
  width: 100%;
  padding: 70px 0 95px 0;
  background: url('../images/services_bg.png') no-repeat center top;

  &__title {
    display: block;
    position: relative;
    margin: 0 0 45px 0;
    color: #2a2a2a;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      left: 50%;
      width: 84px;
      height: 2px;
      margin-top: -20px;
      margin-left: -42px;
      background-color: #143b72;
    }
  }

  &__image {
    display: block;
    width: 100%;
    max-width: 270px;
    height: 270px;
  }

  &__text {
    display: block;
    margin: 10px 0;
    color: #2a2a2a;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
}

.a-clients {
  display: block;
  position: relative;
  width: 100%;
  padding: 160px 0 110px 0;
  background: #ffffff;

  &__title {
    display: block;
    position: relative;
    margin: 0 0 65px 0;
    color: #2a2a2a;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 84px;
      height: 2px;
      margin-top: -20px;
      background-color: #143b72;
    }
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;

    .slick-next,
    .slick-prev {
      width: 50px;
      height: 50px;
      box-shadow: 0 21px 88px 2px rgba(20, 59, 114, 0.28);
      opacity: 1;
      z-index: 1;
      transition: all 0.2s ease-out;

      &:hover {
        opacity: 0.7;
      }
    }

    .slick-next {
      right: -80px;
      background: url("../images/icon_slick_2_next.png") no-repeat center;
      background-size: contain;

      &:before {
        display: none;
      }
    }

    .slick-prev {
      left: -80px;
      background: url("../images/icon_slick_2_prev.png") no-repeat center;
      background-size: contain;

      &:before {
        display: none;
      }
    }
  }

  &__card {
    display: block;
    margin: 0 auto;

    img {
      display: block;
      width: 170px;
      height: 170px;
      margin: 0 auto;
      object-fit: scale-down;
      object-position: center;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }
}

.a-papers {
  display: block;
  position: relative;
  width: 100%;
  padding: 115px 0 95px 0;
  background: #ffffff;

  &__title {
    display: block;
    position: relative;
    margin: 0 0 45px 0;
    color: #2a2a2a;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 84px;
      height: 2px;
      margin-top: -20px;
      background-color: #143b72;
    }
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;

    .slick-next,
    .slick-prev {
      width: 50px;
      height: 50px;
      box-shadow: 0 21px 88px 2px rgba(20, 59, 114, 0.28);
      opacity: 1;
      z-index: 1;
      transition: all 0.2s ease-out;

      &:hover {
        opacity: 0.7;
      }
    }

    .slick-next {
      right: -80px;
      background: url("../images/icon_slick_2_next.png") no-repeat center;
      background-size: contain;

      &:before {
        display: none;
      }
    }

    .slick-prev {
      left: -80px;
      background: url("../images/icon_slick_2_prev.png") no-repeat center;
      background-size: contain;

      &:before {
        display: none;
      }
    }
  }

  &__card {
    display: block;
    width: 100%;
    max-width: 370px;
    height: 500px;
    margin: 0 auto;
    padding: 25px;
    border: 1px solid #edf3fb;
    background-color: #edf3fb;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: scale-down;
      object-position: center;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      border-color: #143b72;
      text-decoration: none;
    }
  }
}

.a-shipping {
  display: block;
  position: relative;
  width: 100%;
  margin-top: 70px;
  padding: 46px 0 30px 0;
  background: #143b72 url('../images/shipping_bg.svg') no-repeat center top;

  &__title {
    display: block;
    position: relative;
    margin: 0 0 20px 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 84px;
      height: 2px;
      margin-top: -20px;
      background-color: #fecc10;
    }
  }

  &__price {
    display: block;
    margin: 0 0 45px 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;

    b,
    strong {
      color: #fecc10;
      font-size: 30px;
      font-weight: 700;
    }
  }

  &__button {
    display: inline-block;
    padding: 13px 10px;
    background-color: #fecc10;
    color: #2a2a2a;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      background: #ffda50;
      color: #2a2a2a;
      text-decoration: none;
    }
  }

  &__image {
    display: block;
    position: absolute;
    width: 100%;
    max-width: 470px;
    height: 340px;
    top: 50%;
    margin-top: -178px;
    object-fit: cover;
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;
    padding: 70px 0 40px 0;
    color: #2a2a2a;

    p {
      display: block;
      margin: 0 0 30px 0;
      color: #2a2a2a;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }

    b,
    strong {
      font-size: 16px;
      font-weight: 700;
    }

    ul {
      display: block;
      margin: 0;
      padding: 0;
      padding: 5px 0 25px 0;
      list-style: none;
      color: #2a2a2a;
      font-size: 16px;
      font-weight: 400;

      li {
        display: block;
        position: relative;
        width: 100%;
        margin-bottom: 5px;
        padding-left: 33px;

        &:before {
          display: block;
          position: absolute;
          content: '—';
          left: 12px;
          font-size: 16px;
          font-weight: 700;
          color: #fecc10;
        }
      }
    }

    a {
      color: #fecc10;
      font-size: 16px;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        color: #fecc10;
        text-decoration: none;
      }
    }
  }
}

.a-tariffs {
  display: block;
  position: relative;
  width: 100%;
  padding: 45px 0 95px 0;

  &__title {
    display: block;
    position: relative;
    margin: 0 0 30px 0;
    color: #2a2a2a;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 84px;
      height: 2px;
      margin-top: -20px;
      background-color: #143b72;
    }
  }

  .table td,
  .table th {
    padding: 12px 20px;
    border: 0;
    color: #2a2a2a;
    font-size: 16px;
    font-weight: 400;
  }

  .table thead th {
    padding: 16px 20px;
    color: #2a2a2a;
    font-size: 16px;
    font-weight: 700;
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background: #edf3fb;
  }

  .table-striped tbody tr:nth-of-type(even) {
    background: #f8fbff;
  }
}

.a-cities {
  display: block;
  position: relative;
  width: 100%;
  padding: 40px 0 60px 0;
  background: url('../images/services_bg.png') no-repeat center top;

  &__title {
    display: block;
    position: relative;
    margin: 0 0 60px 0;
    color: #2a2a2a;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      left: 50%;
      width: 84px;
      height: 2px;
      margin-top: -20px;
      margin-left: -42px;
      background-color: #143b72;
    }
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }

  &__card {
    display: block;
    margin-bottom: 30px;

    &-character {
      display: block;
      margin: 0 0 5px 0;
      line-height: 1;
      text-shadow: 0 6px 10px rgba(20, 59, 114, 0.3);
      color: #ffffff;
      font-size: 60px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &-cities {
      display: block;
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: block;
        margin-bottom: 5px;
        color: #143b72;
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
}

.a-stocks {
  display: block;
  position: relative;
  width: 100%;
  padding: 70px 0;
  background: #ffffff;

  &__title {
    display: block;
    position: relative;
    margin: 0 0 40px 0;
    color: #2a2a2a;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      left: 50%;
      width: 84px;
      height: 2px;
      margin-top: -20px;
      margin-left: -42px;
      background-color: #143b72;
    }
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    width: 100%;
  }

  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 570px;
    margin: 0 0 30px 0;
    padding: 20px;
    border: 1px solid #d8dde4;
    background-color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      box-shadow: 0 21px 88px 2px rgba(0, 0, 0, 0.08);
      text-decoration: none;
    }

    &-row {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      margin-bottom: 16px;
    }

    &-combo {
      display: inline-block;
      clip-path: polygon(0 0, 100% 0, 88% 100%, 0 100%);
    }

    &-title {
      display: block;
      width: 305px;
      height: 130px;
      margin: 0;
      padding: 17px 30px 17px 20px;
      overflow: hidden;
      background: #fecc10;
      color: #2a2a2a;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.33;
      text-transform: uppercase;
    }

    &-date {
      display: block;
      width: 305px;
      margin: 0;
      padding: 7px 20px;
      background: #143b72;
      color: #ffffff;
      font-size: 14px;
      font-weight: 700;
    }

    &-image {
      display: block;
      width: 250px;
      height: 160px;
      margin-left: -27px;
      object-fit: cover;
      clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
    }

    &-text {
      display: block;
      margin: 0;
      color: #9b9b9b;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
  }
}

.a-services-description {
  display: block;
  position: relative;
  width: 100%;
  padding: 85px 0 80px 0;
  background: linear-gradient(rgba(20, 59, 114, 0.7), rgba(20, 59, 114, 0.7)), url('../images/seo_4.jpg') no-repeat center;
  background-size: cover;

  &__title {
    display: block;
    position: relative;
    margin: 0 0 25px 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 84px;
      height: 2px;
      margin-top: -20px;
      background-color: #fecc10;
    }
  }

  color: #ffffff;

  p {
    display: block;
    margin: 0 0 30px 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }

  b,
  strong {
    font-size: 16px;
    font-weight: 700;
  }

  ul {
    display: block;
    margin: 0;
    padding: 0;
    padding: 5px 0 25px 0;
    list-style: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;

    li {
      display: block;
      position: relative;
      width: 100%;
      margin-bottom: 5px;
      padding-left: 33px;

      &:before {
        display: block;
        position: absolute;
        content: '—';
        left: 12px;
        font-size: 16px;
        font-weight: 700;
        color: #fecc10;
      }
    }
  }

  a {
    color: #fecc10;
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      color: #fecc10;
      text-decoration: none;
    }
  }
}

.a-contacts {
  display: block;
  position: relative;
  width: 100%;
  min-height: 500px;

  &__block {
    display: block;
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1200px) / 2);
    width: 100%;
    max-width: 440px;
    padding: 70px 0 35px 170px;
    background: url('../images/contacts_bg.svg') no-repeat left top;
    z-index: 1;

    &:after {
      display: block;
      position: absolute;
      content: '';
      width: calc((100vw - 1200px) / 2 + 15px);
      height: 100%;
      left: 100%;
      top: 0;
      background: #143b72;
    }
  }

  &__title {
    display: block;
    position: relative;
    margin: 0 0 25px 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 84px;
      height: 2px;
      margin-top: -20px;
      background-color: #fecc10;
    }
  }

  &__what {
    display: block;
    margin: 0 0 26px 0;
    color: #ffffff;
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.6px;
  }

  &__row {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: 18px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;

    p {
      margin: 0;
    }

    i {
      display: inline-block;
      margin-right: 5px;
      font-size: 16px;
      color: #fecc10;
    }
  }

  &__phone {
    color: #ffffff;
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      color: #fecc10;
      text-decoration: none;
    }
  }

  &__email {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      color: #fecc10;
      text-decoration: none;
    }
  }

  &__link {
    color: #fecc10;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      color: #fecc10;
      text-decoration: none;
    }
  }

  &__button {
    display: inline-block;
    margin: 40px 0 0 0;
    padding: 12px 55px;
    border: 1px solid #fecc10;
    background: transparent;
    color: #fecc10;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      background: #ffda50;
      color: #2a2a2a;
      text-decoration: none;
    }
  }
}

#map {
  display: block;
  position: relative;
  width: 100%;
  height: 575px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1199px) {

  .a-big .slick-next,
  .a-big .slick-prev {
    display: none !important;
  }

  .a-reviews__cards .slick-next {
    right: 0;
    opacity: 0.3;
  }

  .a-reviews__cards .slick-prev {
    left: 0;
    opacity: 0.3;
  }

  .a-projects__cards .slick-next {
    right: 0;
    opacity: 0.3;
  }

  .a-projects__cards .slick-prev {
    left: 0;
    opacity: 0.3;
  }

  .a-clients__cards .slick-next {
    right: 0;
    opacity: 0.3;
  }

  .a-clients__cards .slick-prev {
    left: 0;
    opacity: 0.3;
  }

  .a-papers__cards .slick-next {
    right: 0;
    opacity: 0.3;
  }

  .a-papers__cards .slick-prev {
    left: 0;
    opacity: 0.3;
  }

  .a-projects__big {
    margin: 0 auto;
  }

  .a-projects__small {
    margin: 0 auto;
  }

  .a-news__cards .slick-next {
    right: 0;
    opacity: 0.3;
  }

  .a-news__cards .slick-prev {
    left: 0;
    opacity: 0.3;
  }

  .a-logo {
    display: block;
    position: relative;
    width: 100%;

    &__nav {
      display: inline-block;
    }

    &__wrapper {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
      padding: 5px 15px;
      background: #ffffff;
      clip-path: none;
    }
  }

  .a-logo__image {
    max-width: 200px;
    margin: 0 auto;
  }

  .a-logo__text {
    display: none;
    text-align: center;
  }

  .a-top__row {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .a-top__call {
    margin-bottom: 4px;
  }

  .a-top__order {
    margin-bottom: 4px;
  }

  .a-info__row {
    justify-content: space-around;
  }

  .a-info {
    padding: 8px 0;
  }

  .a-nav__dropper i {
    display: none;
  }

  .a-nav__dropper:hover .a-nav__drop {
    display: none;
  }

  .a-nav {
    padding: 8px 0;
  }

  .a-nav__ul {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
    text-align: center;
  }

  .a-nav__ul>li>a {
    padding: 6px 12px;
  }

  .a-big__title {
    margin-bottom: 10px;
    font-size: 28px;
  }

  .a-big__text {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .a-big__wrapper {
    height: 400px;
  }

  .a-order {
    padding: 30px 0;
  }

  .a-order__title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .a-order__form input {
    margin-bottom: 4px;
  }

  .a-services__subtitle {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .a-services__title {
    margin-bottom: 30px;
    font-size: 32px;
  }

  .a-services {
    padding: 30px 0;
  }

  .a-services__cards {
    margin: 0 auto;
  }

  .a-services__card {
    min-height: auto;
    padding: 20px;
  }

  .a-page-services__subtitle {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .a-page-services__title {
    margin-bottom: 30px;
    font-size: 32px;
  }

  .a-page-services {
    padding: 30px 0;
  }

  .a-page-services__cards {
    margin: 0 auto;
  }

  .a-page-services__card {
    min-height: auto;
    padding: 20px;
  }

  .a-seo {
    padding: 30px 0;
  }

  .a-seo__image {
    position: relative;
    width: 100%;
    height: 300px;
    top: 0;
    margin: 0 0 20px 0;
    clip-path: none;
  }

  .a-seo__content {
    min-height: auto;
    padding: 20px 0 0 0;
  }

  .a-seo__title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .a-reseo {
    padding: 30px 0;
  }

  .a-reseo__image {
    position: relative;
    width: 100%;
    height: 300px;
    top: 0;
    margin: 0 0 20px 0;
    clip-path: none;
  }

  .a-reseo__content {
    min-height: auto;
    padding: 20px 0 0 0;
  }

  .a-reseo__title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .a-features {
    padding: 30px 0;
  }

  .a-features__title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .a-features__card-image {
    margin-bottom: 5px;
  }

  .a-numbers {
    padding: 30px 0;
  }

  .a-numbers__cards {
    justify-content: space-around;
  }

  .a-numbers__card-text {
    margin-top: 5px;
  }

  .a-reviews {
    padding: 30px 0;
  }

  .a-reviews__title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .a-reviews__card-text {
    height: 340px;
    background: none;
  }

  .a-calc {
    padding: 30px 0;
    background: transparent;
  }

  .a-calc__title {
    margin: 0 0 5px 0;
    font-size: 24px;
    text-align: center;
  }

  .a-calc__text {
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
  }

  .a-calc__form {
    padding: 20px 20px;
    background: #143b72;

    &:after {
      display: none;
    }
  }

  .a-projects__row {
    margin: 0 auto;
  }

  .a-projects {
    padding: 30px 0;
  }

  .a-projects__title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .a-news {
    padding: 30px 0;
  }

  .a-news__title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .a-map__title {
    margin: 5px 0 !important;
    font-size: 24px;
  }

  .a-footer {
    padding: 30px 0;
  }

  .a-footer__nav li a {
    padding: 10px;
  }

  .a-footer__row {
    padding-top: 20px;
  }

  .a-top {
    display: none;
  }

  .a-info {
    display: none;
  }

  .a-nav {
    display: none;
  }

  .a-papers {
    padding: 30px 0;
  }

  .a-papers__title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .a-papers__card {
    max-width: 270px;
    height: 370px;
    padding: 5px;
  }

  .a-clients {
    padding: 30px 0;
  }

  .a-clients__title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .a-about {
    padding: 30px 0;
  }

  .a-about__image {
    margin: 10px auto;
  }

  .a-about__title {
    margin-bottom: 20px;
    font-size: 32px;
  }

  .a-breadcrumps {
    padding: 20px 0;
  }

  .a-modal__content {
    padding: 30px 20px;
  }

  .a-modal__close {
    right: 5px;
    top: 5px;
  }

  .a-modal__title {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .a-modal__input input {
    margin-bottom: 5px;
  }

  .a-shipping__image {
    position: relative;
    max-width: 300px;
    height: 200px;
    margin: 0 0 30px 0;
  }

  .a-shipping {
    margin: 0;
    padding: 30px 0;
  }

  .a-shipping__price {
    margin-bottom: 20px;
  }

  .a-shipping__content {
    padding: 30px 0 5px 0;
  }

  .a-tariffs {
    padding: 5px 0 15px 0;
  }

  .a-cities {
    padding: 30px 0;
  }

  .a-cities__title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .a-tariffs .table td,
  .a-tariffs .table th {
    padding: 4px;
    vertical-align: middle;
  }

  .a-tariffs .table thead th {
    padding: 4px;
    vertical-align: middle;
  }

  .a-stocks__card-row {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .a-stocks {
    padding: 30px 0;
  }

  .a-stocks__title {
    margin-bottom: 32px;
    font-size: 24px;
  }

  .a-stocks__card-combo {
    clip-path: none;
  }

  .a-stocks__card-image {
    clip-path: none;
  }

  .a-stocks__card-title {
    width: 100%;
    height: auto;
  }

  .a-stocks__card-image {
    width: 100%;
    margin: 0;
  }

  .a-stocks__card-date {
    width: 100%;
  }

  .a-stocks__card {
    margin-bottom: 20px;
  }

  .a-services-description {
    padding: 30px 0;
  }

  .a-services-description__title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .a-contacts__block {
    position: relative;
    right: auto;
    width: 100%;
    margin: 0 auto;
    padding: 40px 15px 20px 15px;
    background: #143b72;
  }

  #map {
    height: 300px;
  }

  .a-features__title {
    text-align: center;
  }

  .a-features__title:before {
    left: 50%;
    margin-left: -42px;
  }

  .a-features__cards {
    justify-content: space-around;
  }

  .a-features__card {
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 991px) {}

@media (max-width: 767px) {}
